:root{
    --first-color: #757575;
    --second-color: #212121;
    --logo-color:#2196F3;
    --background-buttom:#188CE8;
    --address-color:#FFFFFF;
    --background-first: #E5E5E5;
    --background-second:#F5F4FA;
    --background-head:#FFFFFF;
    --background-footer: #2F303A;}

body{
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: var(--first-color);
background: var(--background-head);
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    }
.header{
    display: flex;
    align-items: center;
}
.header_nav{
display: flex;
align-items: center;
}
.logo {
color: var(--logo-color);
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
margin-right: 93px;
display: inline-block;
padding-top: 24px;
padding-bottom: 24px;
}
.logo_style {
    color: var(--second-color);
}
.nav_list{
list-style-type: none;
margin: 0;
padding-left: 0;
display: flex;
}
.nav_item{
margin-right: 50px;
}
.nav_item:last-child{
margin-right: 0;
}
.nav_link{
display: block;
text-decoration: none;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-color);
list-style-type: none; 
padding-top: 32px; 
padding-bottom: 32px;
}
.current{
    color: var(--logo-color);
}

.nav_link:hover, .nav_link:focus,
.nav_link:active,
.contact_link:hover, .contact_link:focus {
    color: var(--logo-color);

}

.contact_list {
list-style-type: none;
padding-left: 0;
margin: 0;
display: flex;
margin-left: auto;
}
.contact_item{
    margin-left: 50px;
    
}
.contact_item:first-child{
    margin-left: 0;
}
.contact_link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-color);
    text-decoration: none; 
    padding-top: 32px;
    padding-bottom: 32px;
    }

.section{
margin-top: 0;
margin-bottom: 0;
padding-top: 94px;
padding-bottom: 94px;
}
.hero{
background: #2F303A;
text-align: center;
padding-top: 200px;
padding-bottom: 200px;

}
.title {
color: var(--address-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
width: 696px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
margin-top: 0;
}
.button_title {
background-color: var(--logo-color);
color: var(--address-color);
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
border-radius: 4px;
padding: 10px 32px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.button_title:hover, .button_title:focus,
.button_title:active{
    background-color: var(--background-buttom);
    color: var(--address-color);
    cursor: pointer;
}
.peculiarities{
padding-bottom: 47px;
}
.peculiarities_list {
list-style-type: none;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
display: flex;
}
.peculiarities_item{
    margin-right: 30px;
    justify-content: space-between;
}
.peculiarities_item:last-child{
    margin-right: 0;
}
.peculiarities_subtitle {
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--second-color);
margin-top: 0;
margin-bottom: 10px;
}
.peculiarities_text {
line-height: 1.71;
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 0;
}
.works{
padding-top: 47px;
}
.works_title, .team_title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--second-color);
text-align: center;
margin-top: 0;
margin-bottom: 50px;
}
.works_list, .team_list{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
 }
.works_item{
    margin-right: 30px;   
}
.works_item:last-child{
    margin-right: 0;
}
.team{
    background-color: var(--background-second);
}
.team_foto{
    display: block;
    max-width: 100%;
    height: auto;
}
.team_conteiner{
padding: 30px;
}
.team_name{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--second-color);
text-align: center;
margin-bottom: 10px;
margin-top: 0;
}
.team_item{
background-color: var(--background-head);
margin-right: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team_item:last-child{
    margin-right: 0;
}
.team_profession {
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
margin-top: 0;
margin-bottom: 0;
}
.footer {
    background-color: var(--background-footer);
    padding-top: 60px;
    padding-bottom: 60px;
   }

.logo_footer{
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--logo-color);
text-decoration: none;
background-color: var(--background-footer);
}
.logo_footer_style{
    color: var(--address-color);
}
.address{
    margin-top: 20px;

}
.address_list{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.address_item{
list-style-type: none;
margin-bottom: 9px;
}
.address_item:last-child{
    margin-bottom: 0;
}
.address_link{
text-decoration: none;
font-style: normal;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--address-color);
background-color: var(--background-footer);

}
.info{
    color: rgba(255, 255, 255, 0.6);
}
.address_link:hover,
.address_link:focus{
    color: var(--logo-color);
}
/*Portfolio*/
.portfolio{
    border-bottom: 1px solid #ECECEC;
}
.filter_list{
list-style-type: none;
display: flex;
justify-content: center;
padding: 0;
margin-top: 0;
margin-bottom: 50px;
}
.filter_item{
    margin-right: 8px;
}
.filter_item:last-child{
    margin-right: 0;
}
.filter_button{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
font-family: inherit;
text-align: center;
padding: 6px 22px;
letter-spacing: 0.03em;
color:var(--second-color);
background: var(--background-second);
border: var(--background-second);
border-radius: 4px;
}
.filter_button:hover, 
.filter_button:focus{
color: var(--address-color);
background-color: var(--logo-color);
cursor: pointer;
}
.all {
    background-color: var(--logo-color);
    color: var(--address-color);
}
.project_list{
list-style-type: none;
display: flex;
flex-wrap: wrap;
padding: 0;
margin-top: 0;
margin-bottom: 0;
}
.project_item{
    margin-right: 30px;
    margin-bottom: 30px;
    
}
.project_item:nth-child(3n)
{
    margin-right: 0;
}
.project_item:nth-last-child(-n+3){
    margin-bottom: 0;
}
.project_link{
text-decoration: none;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}
.project_image{
    display: block;
    max-width: 100%;
    height: auto;
}
.project_container {
padding: 20px;
}
.project_subtitle{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--second-color);
margin-top: 0px;
margin-bottom: 0;
}
.project_text{
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--first-color);
margin-top: 4px;
margin-bottom: 0px;
}

